<div class="arrow-back">
  <span><i class="fa fa-angle-left"></i></span>
</div>

<div class="login-box">
  <h1 class="text-center m-b-60">
    <img src="assets/img/login-haed.png" height="28"></h1>

  <div class="col-12 m-b-30">
    <div class="row">
      <div class="col-6 p-0 text-center">
        <span class="social fb">
          <img src="assets/img/fb-icon.png">
        </span>
      </div>
      <div class="col-6 p-0 text-center">
        <span class="social goo">
          <img src="assets/img/google-icon.png">
        </span>
      </div>
    </div>
  </div>

  <div class="col-12 m-b-30">
    <div class="row">
      <div class="line">
        <span class="or">OR</span>
      </div>
    </div>
  </div>

  <form>
    <div class="row">


      <div class="col-sm-12">
        <div class="form-group m-b-25">
          <input class="form-control input-field" [(ngModel)]="email" name="name" type="text" placeholder="Email Address">
        </div>
      </div>


      <div class="col-sm-12">
        <div class="form-group m-b-25">
          <input class="form-control input-field" [(ngModel)]="password" name="name" type="text" placeholder="Password">
        </div>
      </div>

      <div class="col-sm-12">
        <div class="form-group">
          <span class="f-pass"><a href="#">Forgot Password?</a></span>
        </div>
      </div>


      <div class="col-sm-12">
        <div class="form-group m-t-25">
          <a href="#"><button class="button login_btn" (click)="login()">Login</button></a>
        </div>
      </div>






      <div class="col-sm-12">
        <div class="form-group m-b-25 text-center text-link">
          Don't have an account? <a routerLink='/register'>Sign Up</a>
        </div>
      </div>


    </div>

  </form>


</div>
