
	<div class="arrow-back">
		<span><i class="fa fa-angle-left"></i></span>
	</div>

	<div class="login-box regi-box">
		<h1 class="text-center"><img src="assets/img/register-head.png" height="28"></h1>



		<form>
			<div class="row">


				<div class="col-sm-12">
					<div class="form-group m-b-25">
						<label class="reg-label">First Name<span class="req-color">*</span></label>
						<input class="form-control input-field" [(ngModel)]="firstName" name="name" type="text" placeholder="First Name">
					</div>
				</div>


				<div class="col-sm-12">
					<div class="form-group m-b-25">
						<label class="reg-label">Last Name<span class="req-color">*</span></label>
						<input class="form-control input-field" [(ngModel)]="lastName" name="name" type="text" placeholder="Last Name">
					</div>
				</div>

				<div class="col-sm-12">
					<div class="form-group m-b-25">
						<label class="reg-label">Mobile Number<span class="req-color">*</span></label>
						<input class="form-control input-field" [(ngModel)]="mobileNumber" name="name" type="text" placeholder="Last Name">
					</div>
				</div>

				<div class="col-sm-12">
					<div class="form-group m-b-25">
						<label class="reg-label">Date of Birth<span class="req-color">*</span></label>

						<div class="col-12 p-0">
							<div class="row">
								<div class="col-3 p-r-0">

									<select class="form-control select-field">
										<option>Day</option>
                  </select>


								</div>
								<div class="col-5 p-0">
									<select class="form-control select-field">
										<option>Month</option>
                  </select>
								</div>

								<div class="col-4 p-0">
									<select class="form-control select-field">
										<option>Year</option>
                  </select>
								</div>

							</div>
						</div>


					</div>
				</div>

				<div class="col-sm-12">
					<div class="form-group m-b-25">
						<label class="reg-label">Email Address<span class="req-color">*</span></label>
						<input class="form-control input-field" [(ngModel)]="emailAdddress" name="name" type="text" placeholder="Last Name">
					</div>
				</div>


				<div class="col-sm-12">
					<div class="form-group m-b-5">
						<label class="reg-label">Password(Miniumum 8 characters and Alphanumirics)<span
								class="req-color">*</span></label>
						<input class="form-control input-field" [(ngModel)]="password" name="name" type="text" placeholder="Password">
					</div>
				</div>

				<div class="col-12 m-b-30">

					<div class="line-5">

					</div>
				</div>

				<div class="col-sm-12">
					<div class="form-group m-b-25">
						<label class="reg-label">Confirm Password<span class="req-color">*</span></label>
						<input class="form-control input-field" [(ngModel)]="confirmPassword" name="name" type="text" placeholder="Confirm Password">
					</div>
				</div>




				<div class="col-sm-12">
					<div class="form-group m-t-25 m-b-25">
						<a href="#"><button class="button login_btn" (click)="creteAccount()">Create Account</button></a>
					</div>
				</div>





			</div>

		</form>


	</div>





